@model TrashCollector.Models.ApplicationUser

@{
    ViewBag.Title = "ConfirmPickup";
}

<h2>ConfirmPickup</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountOwed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountOwed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialPickupDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialPickupDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Confirm Pickup", "ApplyChargeToCustomer", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
